attrs==21.2.0
Brotli==1.0.9
certifi==2021.10.8
click==8.0.3
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-jbrowse==0.0.1
dash-table==5.0.0
Flask==2.0.2
Flask-Compress==1.10.1
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
packaging==21.3
plotly==5.4.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
six==1.16.0
tenacity==8.0.1
toml==0.10.2
Werkzeug==2.0.2
